.lesson-content--container {
    display: grid;
    grid-template-columns: var(--pad-R) 1fr var(--pad-R);
    gap: calc(var(--pad-T) * 1.5) 0;
    padding-bottom: calc(var(--pad-T) * 1.5);
    @include mq(mq-land) {
        grid-template-columns: repeat(12, 1fr);
        gap: calc(var(--pad-T) * 1.5) var(--gutter) ;
        padding-inline: var(--pad-R);
    }
    @include mq(mq-BREAK-P) {
        padding-left: calc( (100% - #{$max-W}  - (var(--pad-R) * 2)) / 2 );
        padding-right: calc( (100% - #{$max-W}  - (var(--pad-R) * 2)) / 2 );
    }
    .wp-block-group__inner-container {
      grid-column: 1 / span 12;
    }
}
.section-lesson--content, 
.lesson-title--container,
.playlist,
.lesson-caption {
    grid-column: 2 / span 1;
}

.video-container, 
.section-lesson_grid,
.dl-teaser-content--img {
    grid-column: 1 / span 3;
}


.lesson-title--container {
    @include mq(mq-land) {
        grid-column: 3 / span 9;
        grid-row: 1;
    }
}
.dl-teaser-content--img,
.video-container {
    padding-inline: var(--gap);
    @include mq(mq-land) {
        grid-column: 1 / span 8;
        padding-right: var(--pad-R);
    }
    .vi-lazyload {
        border-radius: var(--border-rad);
        overflow: hidden;
        background: transparent;
        &::before {
            
        }
    }
    .vi-lazyload::before,
    .vi-lazyload-wrap,
    .vi-lazyload iframe,
    .vi-lazyload-content {
        background-color: transparent;
    }
}
.video-info {
    display: flex;
    flex-direction: column;
    gap: var(--gap) calc(var(--gap) * 2);
    padding-block: calc(var(--gap) * 2.0);
    padding-inline: calc(var(--pad-R) - var(--gap));
    @include mq(mq-land) {
        padding-inline: 0;
        flex-direction: row;
        margin-left: calc( (100% + var(--pad-R) - (var(--gutter) * 7)) / 4 + (var(--gutter) * 2) );
    }

    &--label {
        .strong {

        }
    }
    &--instructor {}
    &--length {}
}
.playlist {
    @include mq(mq-land) {
        grid-column: 3 / span 5;
        grid-row: 3;
    }
}
.lesson-caption,
.section-lesson--content {
    @include mq(mq-land) {
        grid-column: 9 / span 4;
        grid-row: 2 / span 2;
    }
}

.playlist-title,
.playlist-caption,
.section-lesson_grid--title,
.section-lesson--content p {
    margin-block-end: var(--flow-space, 1em);
}
.section-lesson--content h5 {
    padding-top: var(--flow-space, 1em);
}
.playlist-spotify--container {
    border-radius: var(--border-rad);
    margin-block: calc(var(--flow-space, 1em) * 2) 0;
    overflow: hidden;
    iframe {
        display: block;
        height: 550px !important;
    }
}
.section-lesson_grid {
    @include mq(mq-land) {
        grid-column: 1 / span 12;
    }
    // .full-bleed
    @include mq(mq-BREAK-P) {
        padding-left: calc( (100% - #{$max-W}  - (var(--pad-R) * 2)) / 2 );
        padding-right: calc( (100% - #{$max-W}  - (var(--pad-R) * 2)) / 2 );
    }
    &--title {
        // grid-column: 1 / span 3;
        margin-left: var(--pad-R);
        @include mq(mq-land) {
            // grid-column: 1 / span 5;
            margin-left: calc( (100% - (var(--gutter) * 11)) / 6 + (var(--gutter) * 2) );
        }
    }
    .list-grid--lessons {
        margin-top: calc(var(--flow-space) * 2.0);
        display: grid;
        gap: calc(var(--gutter) * 3)  var(--gutter);
        // grid-template-columns: var(--gutter) 1fr var(--gutter);
        padding-inline: var(--gap);
        grid-template-columns: repeat(2, 1fr);
        // grid-template-columns: 1fr;


        @include mq(mq-iPad-port) {
            grid-template-columns: repeat(3, 1fr);
            gap: calc(var(--gutter) * 3) calc(var(--gutter) * 2);
        }

        @include mq(mq-land) {
            padding-inline: 0;
            grid-template-columns: repeat(5, 1fr);
        }
    }
}


.grid-item {
    position: relative;
    overflow: hidden;
    .grid-item--img_container {
        border-radius: var(--border-rad);
        overflow: hidden;
        margin-bottom: calc(var(--gutter) * 1.5);
        .grid-item--img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            margin-bottom: -5px;
        }
    }
    .grid-item--label {

        .grid-item--title {
            text-wrap: pretty;
        }
        .grid-item--price {
            display: none;
        }
    }
    .grid-item--title_link {

    }
}

.color-green {
    color: var(--LKBA-green);
}
/*
.dl-dashboard {
    padding-left: var(--pad-R);
        padding-right: var(--pad-R);
        @include mq(mq-land-L-UP) {
            padding-left: 0;
            padding-right: 0;
            width: calc( ( 100% - (var(--pad-R) * 2) - (var(--gutter) * 11) ) / 12 * 8 +  (var(--gutter) * 7));
            margin-left: auto;
            margin-right: auto;
        }
        @include mq(mq-BREAK-P) {
            width: calc( ( 100% - (var(--gutter) * 11) ) / 12 * 8 +  (var(--gutter) * 7));
        }
}
*/

.dl-teaser-content--img,
.lesson-img {
    overflow: hidden;
    grid-row: 2;
    @include mq(mq-land) {
        padding-left: 0;
        grid-row: 2;
    }
    > img {
        border-radius: var(--border-rad);
        width: 100%;
        max-width: 100%;
    }
}
.dl-teaser-content,
.lesson-caption {
    grid-row: 3;
    @include mq(mq-land) {
        grid-row: 2 / span 3;
    }
    p {}
    .dl-lesson-cta {
        .dl-cta-overlay {
            .dl-cta-box {
                h3 {}
                p.dl-price {}
                button,
                .dl-add-to-basket-btn {}
                    
                p.dl-cta-note {}
            }
        }
    }
}
.dl-teaser-content,
.dl-teaser-content--img {
}

.vi-lazyload {
    width: 100%;
    position: relative !important;
    overflow: hidden;
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    &::before {
        content: "";
        width: 100%;
        display: block;
        position: relative;
        background-color: #000;
    }
}
.vi-lazyload-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: inherit;
}
.vi-lazyload-content {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #000;
    background-image: var(--vi-lazyload-img);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}
.vi-lazyload-playbtn {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}
[data-btnlabel] .vi-lazyload-playbtn--label {
    color: var(--LKBA-green);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50vw;
    font-size: calc(12px + 4 * (100vw - 320px) / 2240);
    padding: calc(var(--pad-T) * 0.25) calc(var(--pad-R) * 0.25) calc(var(--pad-T) * 0.25) calc(var(--pad-R) * 1);
    /*background-color: hsla(0, 0%, 100%, 0.8);*/
    background-color: hsla(var(--LKBA-cream-hsl), .5);
}
@media screen and (orientation: landscape) {
    [data-btnlabel] .vi-lazyload-playbtn--label {
        font-size: calc(16px + 2 * (100vw - 320px) / 2240);
        padding: calc(var(--pad-T) * 0.5) calc(var(--pad-R) * .85);
        /*background-color: var(--white);*/
    }
}
[data-btnlabel] .vi-lazyload-playbtn--label:after {
    content: "";
    display: inline-block;
    margin: calc(var(--pad-T) * -0.15) 0 0 calc(var(--pad-R) * 0.25);
    width: var(--icon-S);
    height: var(--icon-S);
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='%2300573F' d='M12 0C5.37 0 0 5.37 0 12s5.37 12 12 12 12-5.37 12-12S18.63 0 12 0zM7.8 18V6l10.39 6L7.8 18z'/%3E%3C/svg%3E")
        50% no-repeat;
    background-size: 75%;
}

.vi-lazyload iframe {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    border: 0;
    background-color: transparent;
}
.grid-item--title {
    &:not(.customtable-col--item) {
        max-width: 28ch;
    }
    text-wrap: pretty;
}
.grid-item--btn {
    background-color: hsla(var(--LKBA-cream-hsl), .5);
    position: absolute;
    right: calc(var(--pad-R) * .15);
    left: calc(var(--pad-R) * .15);
    top: calc(((100vw - (var(--gutter) * 3)) * .5) - (var(--pad-T) * 2));
    // bottom: initial;
    border-radius: $bor-RADIUS;
    @include mq(mq-iPad-port) {
        top: calc(((100vw - (var(--gutter) * 4)) / 3) - (var(--pad-T) * 2));
    }
    @include mq(mq-land) {
        right: calc(var(--pad-R) * .5);
        left: calc(var(--pad-R) * .5);
        top: calc( ( ( 100vw - (var(--gutter) * 4) ) / 5 ) - (var(--pad-T) * 2) );
    }
    @include mq(mq-BREAK-P) {
        top: calc( ( ( #{$max-W} - (var(--gutter) * 4) ) / 5 ) - (var(--pad-T) * 1)  );
    }
    z-index: 2;
    border: $line-THICK solid var(--LKBA-green);
    color: var(--LKBA-green);
    &:active,
    &:focus,
    &:focus-visible,
    &:focus-within,
    &:hover {
        background-color: hsla(var(--LKBA-cream-hsl), 1.0);
        // background-color: var(--LKBA-green);
    }
}

.tc-price {
    &--title,
    &--table {
        margin-block-start: calc(var(--pad-T) * .5);
    }
    &--title {}
    &--table {
        display: flex;
        flex-direction: column;
        // gap: calc(var(--gap) * .5);
        gap: var(--gutter);
    }
    &--row {
        display: flex;
    }
    &--col {
        width: 50%;
        @include mq(mq-land) {
            width: auto;
            min-width: 12ch;
        }
        &_L {}
        &_R {}
    }
}
/*
<h2 class="tc-price--title">Cena</h2>
<div class="tc-price--table">
    <div class="tc-price--row">
        <div class="tc-price--col tc-price--col_L taL">1 video</div>
        <div class="tc-price--col tc-price--col_R taR">1 999 Kč</div>
    </div>
    <div class="tc-price--row">
        <div class="tc-price--col tc-price--col_L taL">5 videí</div>
        <div class="tc-price--col tc-price--col_R taR">8 999 Kč</div>
    </div>
    <div class="tc-price--row">
        <div class="tc-price--col tc-price--col_L taL">10 videí</div>
        <div class="tc-price--col tc-price--col_R taR">17 999 Kč</div>
    </div>
</div>
*/