:root, [data-theme="default"] {
  --white: #FFFFFF;
  --black: #000000;
  --LKBA-red-hsl: 355deg, 81%, 55%;
  --LKBA-red: hsl(var(--LKBA-red-hsl));
  --LKBA-green-hsl: 163deg, 100%, 17%;
  --LKBA-green: hsl(var(--LKBA-green-hsl));
  --LKBA-cream-hsl: 41deg, 43%, 89%;
  --LKBA-cream: hsl(var(--LKBA-cream-hsl));
  --LKBA-cream-light-hsl: 41deg, 41%, 91%;
  --LKBA-cream-light: hsl(var(--LKBA-cream-light-hsl));
  --LKBA-cream-dark-hsl: 43deg, 18%, 75%;
  --LKBA-cream-dark: hsl(var(--LKBA-cream-dark-hsl));
  --LKBA-dark-hsl: 60deg, 16%, 6%;
  --LKBA-dark: hsl(var(--LKBA-dark-hsl));
  --gray1: var(--LKBA-dark);
  --gray2: hsla(0, 0%, 48%, 1);
  --gray3: hsla(0, 0%, 62%, 1);
  --gray4: hsla(0, 0%, 72%, 1);
  --color-primary: var(--black);
  --corp-c-1: var(--LKBA-cream);
  --corp-c-2: var(--LKBA-green);
  --corp-c-3: var(--LKBA-red);
  /* color contrasts */
  --color-bg: var(--LKBA-cream);
  --menu-bg: var(--LKBA-cream);
  --color-contrast-high: var(--LKBA-red);
  --color-highlight: var(--LKBA-red);
  --color-labels: var(--black);
}

:root {
  --pad-T: calc(22px + (48 - 22) * ((100vw - 320px) / (2560 - 320)));
  --pad-R: calc(36px + (60 - 36) * ((100vw - 320px) / (2560 - 320)));
  --fscreen-T: var(--pad-T);
  --fscreen-R: var(--pad-R);
  --touch-S: 32px;
  --icon-W: 30px;
  --dsalpha-1: 0.0;
  --dsalpha-2: 0.0;
  --maW: 1440;
  --logo-W: calc(160px + (220 - 160) * ((100vw - 320px) / (2560 - 320)));
  --logo-H: 130px;
  --header-H: 70vh;
  --headerH: 70px;
  --dir-LR: 1;
  --logo-RATIO: calc(300/73);
  --logo-ENLARGE: 1.18;
  --gap: calc(8px + (10 - 8) * ((100vw - 320px) / (2560 - 320)));
  --select-list-caption-gap: calc(50px + (124 - 50) * ((100vw - 320px) / (2560 - 320)));
  --tile-gap: var(--gap);
  --gutter: 10px;
  --flow-space: 0.75em;
  --aspect-R: 1.6;
  --radio-R: 24px;
  --border-rad: calc(6px + (12 - 6) * ((100vw - 320px) / (2560 - 320)));
  --icon-S: calc(32px + 4 * (100vw - 320px) / 2240);
  --ham-W: 36px;
}
@media (pointer: coarse) {
  :root {
    --touch-S: 40px;
    --icon-W: 36px;
    --gutter: 5px;
    --ham-W: 42px;
  }
}

/* GLOBAL SIZES */
/* CSS TRANSITION VARS */
/* GLOBAL FONT-SIZE */
/* GLOBAL PADDING */
/* GLOBAL MARGIN */
/* HEADER */
/* LOGO */
/* NAVIGATION */
/* NAVIGATION HAMBURGER MENU */
/* FORM SPECIFIC */
@font-face {
  font-family: 'InterR-var';
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Inter-roman.woff2") format("woff2");
  font-named-instance: 'Regular';
}
@font-face {
  font-family: 'InterB-var';
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2");
  font-named-instance: 'Bold';
}
@font-face {
  font-family: 'InterI-var';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("../fonts/Inter-italic.woff2") format("woff2");
  font-named-instance: 'Italic';
}
@font-face {
  font-family: 'SuisseWorks-R';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("../fonts/SuisseWorks-Regular-WebXL.woff") format("woff"), url("../fonts/SuisseWorks-Regular-WebXL.woff2") format("woff2");
  font-named-instance: 'Regular';
}
.line-top {
  position: relative;
}
.line-top::before, .line-top::after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--color-highlight);
  left: 0;
}
.line-top::before {
  width: calc(100% - (var(--pad-R) * 2));
  width: 100%;
  height: 1px;
  top: calc((4px - 1px) / 2);
}
.line-top::after {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  top: 0;
}
.line-top--orange::before, .line-top--orange::after {
  background-color: var(--corp-c-3);
}
.line-top--white::before, .line-top--white::after {
  background-color: var(--white);
}
.line-top--blue::before, .line-top--blue::after {
  background-color: var(--corp-c-2);
}

.line-above {
  position: relative;
}
.line-above::before {
  content: "";
  display: block;
  position: relative;
  background-color: var(--color-highlight);
  margin-bottom: calc(var(--pad-T) * 0.75);
  width: calc(100% - (var(--pad-R) * 2));
  height: 1px;
  top: calc((4px - 1px) / 2);
  background-color: var(--white);
}
@media screen and (min-width: calc(90rem * 1.1)) {
  .line-above::before {
    width: 100%;
  }
}
.line-above img {
  padding-bottom: calc(var(--pad-T) * 0.75);
}

.select-list,
.select-list .acf-innerblocks-container,
.select-list .select-list--row,
.select-list .select-list--row .acf-innerblocks-container {
  display: flex;
  gap: var(--tile-gap);
  flex: 1 0 100%;
}

/*# sourceMappingURL=blocks.css.map */
